/* components/Layout/Layout.module.css */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container is at least the height of the viewport */
}

.main {
  flex: 1; /* Allow the main content to grow and fill available space */
  padding-top: 48px;
}
